// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-color: #FF0000;

.lipsum {
  h1 {
  color: green;
  }
  p {
    background: image-url("drwho");
    color: white;
    padding-bottom: 300px;
    &:hover {
      background: blue;
      color: $brand-color;
    }
  }
}

.index h1 {
  color: goldenrod;
}
