<% @posts.each do |post| %>

  <%= render partial: 'post_header', locals: { this_post: post } %>

  <%= simple_format truncate(post.body, length: 500) %>
  <p><%= link_to "[Read More]", post_path(id: post.id) %></p>
  <div class="hline"></div>

  <div class="spacing"></div>
<% end %>
