<h1>Our Series</h1>
<div class="row">
  <%= link_to "Add your comic series", new_series_path, class: 'btn btn-success' %>
</div>

<%= paginate @serieses %>

<%= render @serieses %>

<!-- Functionally equivalent to above -->
<!-- <%# @serieses.each do |series| %>
  <%#= render series %>
<%# end %> -->

<%= paginate @serieses %>
